services:
  backend:
    image: nikanostovan/personal_website_backend:latest
    container_name: PWB
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - PORT=${PORT}
      # Database
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}

      # JWT Secrets
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET}
      - REFRESH_TOKEN_SECRET=${REFRESH_TOKEN_SECRET}

      # Google OAuth
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GOOGLE_CALLBACK_URL=${GOOGLE_CALLBACK_URL}

      # S3
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - S3_BUCKET_REGION=${S3_BUCKET_REGION}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
      - S3_PROJECT_DIR=${S3_PROJECT_DIR}
      - S3_IMG_URL_PREFIX=${S3_IMG_URL_PREFIX}
      - S3_BUCKET_URL=${S3_BUCKET_URL}

      # CloudFront
      - CLOUDFRONT_URL=${CLOUDFRONT_URL}

      # OpenSearch/Elasticsearch
      - SEARCH_USER=${SEARCH_USER}
      - SEARCH_PASS=${SEARCH_PASS}
      - SEARCH_ENDPOINT=${SEARCH_ENDPOINT}

      # Lambda
      - LAMBDA_URL=${LAMBDA_URL}
